{% extends 'main.html' %}
{% block content %}

<style>
    .container {
        max-width: 90%; 
        margin: 0 auto; 
        padding: 20px;
        background-color: #fff; 
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
        margin: 30px;
    }

    form {
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 10px;
    }

    button[type="submit"] {
        background-color: #3A49B7;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 10px;
    }

    a.button {
        display: inline-block;
        margin-top: 10px;
        text-decoration: none;
        color: #3A49B7;
        border: 2px solid #3A49B7;
        padding: 6px 10px;
        border-radius: 10px;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 5px;
    }

    li strong {
        display: block;
    }

    li a {
        margin-right: 5px;
        text-decoration: none;
    }

    form label {
        display: block;
        margin-bottom: 5px;
    }

    form input[type="text"],
    form input[type="url"],
    form textarea {
        width: 50%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    form textarea {
        resize: vertical;
        min-height: 100px;
    }
    .content-card {
        border-top: 5px solid #1c378e !important;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #f8f8f8;
        width: 80%;
        margin-bottom: 15px !important;
        padding-bottom: 15px !important;
    }

    .content-card strong {
        display: block;
    }

    .content-card a {
        margin-right: 5px;
        text-decoration: none;
        color: #fff;
        margin-bottom: 15px !important;
    }


    .update {
        background-color: #4E31AA;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
      }
      
      .delete {
        background-color: #576CBC;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
      }
      

</style>

<div class="container">
    <h1>Add Course Content</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <a class="button" href="{% url 'teacher_dashboard' %}">Go Back</a>
    </form>
    

    <h2>Existing Contents</h2>
    {% if coursecontents %}
        {% for content in coursecontents %}
        <div class="content-card">
            <strong style="font-size: 20px;text-transform:capitalize;">{{ content.name }}</strong>
            <p style="font-size: 16px;text-transform:capitalize;">{{ content.body }}</p>
            <a href="{% url 'update_course_content' content.id %} " class="update">Edit</a>
            <a href="{% url 'delete_course_content' content.id %}" class="delete">Delete</a>
        </div>
        {% endfor %}
    {% else %}
        <p>No contents available.</p>
    {% endif %}
</div>

{% endblock %}
