{% extends 'main.html' %}
{% block content %}

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  /* Style the buttons */
  button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  #payment {
    background-color: #525FE1;
  }

  #continue-learning {
    background-color: #1c378e;
    margin-bottom: 50px !important;
  }

  .buttons {
    background-color: #525FE1;
    color: #fff;
  }

  .card {
    border-top: 5px solid #1c378e !important;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .contain {
    padding: 30px 30px 0px 30px;
  }
  
  body {
    padding: 20px;
  }


</style>

<div class="contain">
<h1>Course details</h1>

<p>Name: {{ course.title }}</p>
<p>Description: {{ course.description }}</p>
<p>Duration: {{ course.duration }}</p>
<p>Posted date: {{ course.post_date }}</p>
<p>Instructor name: {{ course.Instructor }}</p>
<p>Price: {{ course.price }}</p>
</div>


{% if purchased %}

<h2 style="padding-left: 20px;">Course Contents:</h2>

  <div class="container">
    {% if content %}
      {% for content_item in content %}
        <div class="card">
            <h4 style="font-size:18px;text-transform: capitalize;">{{ content_item.name }}</h4>
            <p style="text-transform: capitalize;">{{ content_item.body }}</p>
            <p>{{content_item.url}}</p>
        </div>
      {% endfor %}
    {% else %}
    <p style="color: #acacac;padding-left:32px;"><i>No contents are available for this course yet!!!</i></p>
    {% endif %}
  </div>

  <button id="continue-learning" > <a style="text-decoration: none;color:#fff;" href="{% url 'student-dashboard' %} ">Continue Learning</a></button>
{% else %}
  <p style="color: #acacac;padding-left:32px;"><i>Please purchase the course to access the content.</i></Please></p>
  <form action="{% url 'purchase_course' course.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="buttons">Purchase Course</button>
  </form>
  {% endif %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


{% endblock %}