
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Online course system</title>
   <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
   <style>
      footer {
         background-color: navy;
         color: white;
         text-align: center;
         padding: 15px;
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         font-size: 8px;
         z-index: 999;
       }
   </style>
</head>
<body>
   <nav> {% include 'navbar.html' %}  </nav>
   {% block content %}
   

   
   {% endblock %}
   <footer>
      © 2023 OCS. All rights reserved | Created by Nisarga C M
   </footer>
</body>
</html>
