{% extends 'main.html' %}
{% block content %}


<style>
   .container {
       background-color: #f2f2f2;
       border: 1px solid #ddd;
       border-radius: 5px;
       padding: 20px;
       max-width: 500px;
       margin: 0 auto;
       margin-top: 30px;
   }

   h1 {
       color: #333;
   }

   form {
       margin-top: 20px;
   }

   input[type="submit"] {
       background-color: #4CAF50;
       border: none;
       color: white;
       padding: 3px 15px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin-top: 10px;
       cursor: pointer;
       border-radius: 5px;
   }

   li.error {
       color: red;
   }

   li.success {
       color: green;
   }
</style>

<div class="container">

<h1>Password reset complete</h1>

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="{% url 'login' %}">Log in </a>

</div>

{% endblock %}