{% extends 'main.html' %}
{% block content %}

<style>
   .container {
       background-color: #f2f2f2;
       border: 1px solid #ddd;
       border-radius: 5px;
       padding: 20px;
       max-width: 600px;
       margin: 0 auto;
   }

   h1 {
       color: #333;
   }

   form {
       margin-top: 20px;
   }

   input[type="submit"] {
       background-color: #4CAF50;
       border: none;
       color: white;
       padding: 3px 15px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin-top: 10px;
       cursor: pointer;
       border-radius: 5px;
   }

   li.error {
       color: red;
   }

   li.success {
       color: green;
   }
</style>

<div class="container">
   

<h1>Password reset sent</h1>

<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
</p> 

  
<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder. <a href="{% url 'reset_password' %}">Go Back</a>
   
</p>

</div>


{% endblock %}
