{% extends 'main.html' %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    h1 {
        color: #1c378e;
    }

    h3 {
        color: #1c378e;
    }

    .search-form {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .search-form input[type="text"] {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .search-form input[type="submit"] {
        padding: 10px 20px;
        background-color: #1c378e;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .container {
     display:grid;
     grid-template-columns: repeat(3,1fr); 
     margin: 10px;
     grid-gap:20px;  
    }

    .course-container {
        background-color: #fff;
        padding: 10px;

        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-top: 5px solid #1c378e ;
        
    }

    .course-container a{
        text-decoration: none;
    }

    .course-title {
        color: #1c378e;
        margin-top: 0;
        margin-bottom: 5px;
    }

</style>

<h3>Hello, {{request.user.first_name}}</h3>
 
<h3> <i> Hello, {{request.user.first_name}} </i></h3> 

        <form class="search-form" action="{% url 'search_course' %}" method="GET">
            <input type="text" name="query" placeholder="Search for a course" />
            <input type="submit" value="Search" />
        </form>

        <div class="container">
          
            {% for course in courses %}
            <div class="course-container">
                <a href="{% url 'course_details' pk=course.pk %}"><h3 class="card-title">{{ course.title }}</h3></a>
                <p class="card-text">{{ course.description }}</p>
            </div>
            {% endfor %}
        </div>
{% endblock %}