{% extends 'main.html' %}
{% block content %}

<style>
/* Styling for the container */
.dashboard-container {
    max-width: 90%; 
    margin: 0 auto; 
    padding: 40px;
    background-color: #fff;
    border-radius: 10px; 
    box-shadow:0 0 5px rgba(0, 0, 0, 0.2) ;
  }
  
  /* Styling for links (anchor tags as buttons) */
  .btn {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  
  .btn-primary {
    background-color: #525FE1;
    padding: 10px 20px !important;
    font-size: 16px !important;
  }
  
  .btn-info {
    background-color: #4E31AA; /* Set the info button color to #17A2B8 */
  }
  
  .btn-danger {
    background-color: #576CBC; /* Set the danger button color to #DC3545 */
  }
  
  .btn-success {
    background-color: #4E31AA; /* Set the success button color to #28A745 */
  }
  
  /* Styling for headings */
  .dashboard-container h1, .dashboard-container h2 {
    margin-bottom: 10px;
  }
  
  /* Styling for the course list */
  .course-cards {
    
    display: flex;
    flex-wrap: wrap;
  }
  
  .course-card {
    border-top: 5px solid #1c378e !important;
    width: 80%; /* Adjust the width as per your design */
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .course-card strong {
    display: block;
    margin-bottom: 5px;
  }
  
  .course-card p {
    margin-top: 10px;
  }
  
  form input[type="text"],
  form input[type="number"],
  form textarea {
      width: 30%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
</style>
<div class="dashboard-container">

    <h1>Hello, {{request.user.first_name}}</h1>
    
    <h2>Create a Course</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Course</button>
    </form>


    <h2>Existing Courses</h2>
    <div class="course-cards">
        {% for course in courses %}
        <div class="course-card">
            <strong>{{ course.title }}</strong> <i> {{ course.description }} </i>&nbsp;
            <a href="{% url 'edit_course' course.id %}" class="btn btn-info">Edit</a>
            <a href="{% url 'delete_course' course.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'add_course_content' course.id %}" class="btn btn-success">Add Content</a>

            <p>Students who purchased this course:</p>
            <ul>
                {% for student_name in course.students_purchased %}
                <li>{{ student_name.0 }} {{ student_name.1 }}</li>
                {% empty %}
                <p style="color: #6e6d6d;"> <i>No students have purchased this course</i></p>
                {% endfor %}
            </ul>
        </div>
        {% empty %}
        <p>No courses availabl.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}